/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* dark */


:root {
  /* Основные цвета для светлой темы */
   --accent-color: #000;
  --text-color: #000;
  --text-color2: #353430;
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --button-hover-color: rgba(53, 52, 48, 0.5);
  --decor-color: #353430;
  --card-bg-color: #FF8DCB;

  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #FFF1F7;
}
@media (prefers-color-scheme: dark) {
  :root:not(.theme-light):not(.theme-dark) {
    /* Темная тема для авто-режима */
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --text-color2: #000;
    --bg-color: #000028;
    --title-color: #DB00FF;
    --shadow-color: #FF0070;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --decor-color: #FF0070;
    --card-bg-color: #FF0070;
    --page-bg-image: url("../images/cover-image-dark.png");
    --page-bg-color: #000028;
  }
}

